%dl.frontmatter
  %dt Published at:
  %dd= post.created_at.strftime("%d %b %H:%M")

  %dt Author:
  %dd
    = post.user.nickname
    %div{ data: { user: { uuid: post.user.uuid, local_port: post.user.local_port }.to_json } }

  - if post.entry.posts.count > 1
    %dt Versions:
    %dd.versions
      - post.entry.posts.order(version: :asc).each do |version|
        - if version == post
          %span.current{ style: "font-size: 1.5em;" }= version.version
        - else
          = link_to version.version, post_path(version.user.nickname, version.uuid), class: "version-link"
        = " "

  %dt{ style: "display: none;" } Status:
  %dd.status{ data: { local_auth_target: "status" }, style: "display: none;" }
    Checking local app...