!!!
%html{lang: 'en', prefix: 'og: http://ogp.me/ns#'}
  %head
    %meta{charset: "utf-8"}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'width=640', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "stylesheet", href: "/application.css"}
    %meta{content: 'Ivan Nemytchenko', name: 'author'}
    %meta{property: 'og:title', content: @post.title}
    %meta{property: 'og:url', content: post_url(@post.user.uuid, @post.uuid)}
    %meta{property: 'og:site_name', content: 'dopo.st'}
    %meta{name: 'twitter:creator', content: "@#{@post.user.uuid}"}
    %title= @post.title
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = javascript_importmap_tags

  %body
    .page
      .post
        = yield